@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'pixel';
    src: url(../fonts/pixel-digivolve.ttf);
}
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
scroll-behavior: smooth;
font-size: 62.5%;
box-sizing: border-box;
}

body{
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  #ffffff 0%, #e00000 50% ); */
    background-image: url('./giphy.gif');
    color: #ffffff;
    font-size:100%; 
    /* font-size: calc(1em + 1vmin); */
      /* font-size : clamp(2rem, 10vw, 5rem); */
    font-weight: bolder;
    font-family: 'pixel';
    /* scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll; */
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    margin-block: calc(2rem + 5%);
}
.item_1{
    grid-area: 1/1/1/2;
}
.item_2{
    grid-area: 2/1/2/3;
    margin: 0 auto;
}
.item_3{
    grid-area: 1/2/1/3;
}

/* header{
    display: flex;
    flex-direction: column;
}
header>a+div{
    display: flex;
    flex-direction: row;
} */
#header_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header_links>a{
    margin-inline: 3rem;
    font-size: calc(1rem + 1vmax);
    text-decoration: none;
    color: #00ff2a;
}
#header_links>a:hover{
    color: #fff;
    text-decoration: underline;
    text-shadow: 0rem -1.9rem 0.3rem #00ff2a, 1.4rem 0rem 0.3rem #00ff2a, 0rem 1.8rem 0.3rem #00ff2a, -0.6rem 0rem 0.3rem #00ff2a;
}
#logo{
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 6/1;
    object-fit: contain;
    width: 100%;
    margin: 2rem 0 0 0;
}

#search{
    padding: calc(1rem + 1vmin);
    margin: 0 auto;
    /* font-size: calc(3rem + 1vmin); */
    font-size: clamp(1rem , 1vmax + 1vw ,2rem + 2vmax);
    color: #00ff2a;
    border: #00ff2a;
    outline: #00ff2a;
    border-radius: calc(2rem + 1vmin);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#search:is(:hover,:active,:focus-within) {
    box-shadow: 0 0 0 5px #00ff2aa0;
  }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(60, 255, 0);
    opacity: 1; /* Firefox */
  }
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#levels{
    /* margin-inline:0 10rem; */
    margin-block:0rem 10rem ;
}

.levels{
    background-color: #00ff2a;
    font-size: calc(1rem + 1vmax);
    color:#fff; 
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    padding: calc(1rem + 1vmin);
    margin: calc(1rem + 1vmax);
    border-radius: calc(1rem + 1vmin);
    font-family: 'pixel';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.levels:hover{
    box-shadow: 0rem 0rem 2.5rem rgb(129 254 200);

}
/* .levels>li{
    padding: 0 1rem;
    margin: 0 1rem;
} */
section{
    display: grid;
    gap: calc(1rem + 1vmax);
    grid-template-columns: repeat(auto-fit, minmax(calc(10% + 11rem),1fr));
    align-content: center;
    justify-items: center;
    margin-inline: 2%;
}
.container{

    /* background-image: radial-gradient( circle farthest-corner at -46% -151%, #fff 75%, #00f0 112% ); */
    background-image: radial-gradient( circle farthest-corner at -113% 246%, #fff -50%, #00f0 100% );
    background-image: radial-gradient( circle farthest-corner at 50% 10%, #fff 9%, #00f0 120% );
    color: white;
    padding: calc(1rem + 1vmax);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* height: 4rem; */
    border-radius: calc(1rem + 0.5vmax);
    box-shadow: -5px -10px 8px #4caf50;
    /* min-height: auto; */
    /* max-width: fit-content; */
    width: calc(100% + 1vmax);
    margin: calc(1rem + 1vmax);

}
.container:hover {
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px #4caf50;
    mix-blend-mode:plus-lighter;
    box-shadow: inset 0rem 0rem 132rem rgba(0 ,255 ,13,0.5);
  }
.img_container{
    mix-blend-mode: multiply;
    /* backdrop-filter: drop-shadow(0px 0px 0px rgba(0, 25, 0));
    max-width: 10rem;
    border-radius: 0.5rem;
    filter:blur(5px 5px 5px rgba(0, 0, 0, 1));
    box-sizing: border-box;
    width: calc(16rem + 1vw);
    height:auto;
*/
    border-radius:1.5rem;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/1;
    object-fit: contain; 
    width: 100%;
    backdrop-filter: drop-shadow(rgb(0, 255, 13));
}
.img_container:is(:hover,:active){
    mix-blend-mode: darken;
    filter: drop-shadow(0 0 10rem rgb(0,255,13));
}

.digimon_key{
    font-size: calc(0.7rem + 1vmax);
    /* color: rgb(1, 161, 28); */
    text-shadow: 2px 2px rgba(0, 0, 0,0.6);
    font-family:system-ui;
}
.digimon_value{
    word-break: break-word; 
    font-size: calc(1rem + 1vmax);
    font-weight: bolder;
    letter-spacing: 5.7px;
    /* background: -webkit-linear-gradient(rgb(0, 0, 0)3%, rgb(1, 252, 14));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* color: #ffffff; */
    color: rgb(81, 255, 0);
    text-shadow: 2px 2px rgba(0, 0, 0,0.6);
}

button{
    text-align: center;
    /* height: 3rem; */
    /* width: 10rem; */
    font-size: calc(0.7em + 1vmax);
    font-weight: bolder;
    text-shadow: 2px 1px black;
    color: white;
    border-radius: 1rem;
    background-color: #007213;
    outline: none;
    border: none;
}
@media (min-width: 600px) {
    header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 100px);
        align-items: center;
        margin-block: calc(1rem + 5%);
    }
    .item_1{
        grid-area: 1/1/1/2;
    }
    .item_2{
        grid-area: 1/2/1/3;
    }
    .item_3{
        grid-area: 1/3/1/4;
    }    
    .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}

/* .fp-watermark{
    display: none;
} */

    
/* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #023800; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(81, 255, 0); 
    height: 5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 255, 76); 
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1vmax);

  }
  footer>p>a{
    color: #00ff2a;
    text-decoration: none;
  }
  #to_top{
    position: fixed;
    bottom: calc(1rem + 1vmin);
    right: calc(1rem + 1vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem , 2vmax + 1vw ,2rem + 3vmax);
    font-weight: bolder;
    border-radius: 22%;
    background: #00ff2a;
    color: #ffffff;
  }
  #to_top:hover{
    background: #ffffff;
    color: #00ff2a;
    /* text-shadow:4vmax -1.9vmax 1vmax #00ff2a, 4.1vmax 6vmax 1vmax #00ff2a, -5vmax 6.1vmax 1vmax #00ff2a, -4.9vmax -2vmax 1vmax #00ff2a; */
    text-shadow: 1vmax -1.9vmax 0.3vmax #00ff2a, 1.1vmax 1vmax 0.3vmax #00ff2a, -1.1vmax 1.2vmax 0.3vmax #00ff2a, -1.1vmax -1.9vmax 0.3vmax #00FF2A;
  }