<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
  </head>
  <body>
    <header>
        <a href="./index.html">Index</a>
        <a href="./details.html">Details</a>
        <a href="./favorite.html">Favorite</a>
    </header> 
    <form action="{{ url_for("baseRoute")}}" method="post">
        <label for="name">Search Digimon:</label>
        <input type="text" id="name" name="name">
      </form>
    <section>
      {% for item in data%}
      <div>
        <img src="{{item.img}}" />
        <h3><span class="digimon_key">Name:</span> <span class="digimon_value">{{item.name}}</span></h3>
        <p><span class="digimon_key">Level:</span> <span class="digimon_value">{{item.level}}</span></p>
        <button>Add To Favorite</button>
      </div>
      {% endfor%}

    </section>
  </body>
</html>
